<template>
	<div>
		<app-top-menu></app-top-menu>
		<div class="you_bodyu">
			<section class="visual_sub">
				<img src="../../assets/img/cash_main.jpg" />
				<input type="button" class="start_btn" />
				<h2 class="page_title">캐시샵</h2>
			</section>
			<section class="sub_nao">
				<div class="sub_nav">
					<!-- <a href="./cash_1.html" class="g_board">패키지</a>
					<a href="./cash_2.html" class="g_board">프리미엄</a>
					<a href="./cash_3.html" class="g_board_selec">크레딧</a>
					<a href="./cash_4.html" class="g_board">포인트샵</a> -->
					<router-link to="/cash_shop/cash_1" tag="a" class="g_board"
						>패키지</router-link
					>
					<router-link to="/cash_shop/cash_2" tag="a" class="g_board"
						>프리미엄</router-link
					>
					<router-link to="/cash_shop/cash_3" tag="a" class="g_board_selec"
						>크레딧</router-link
					>
					<router-link to="/cash_shop/cash_4" tag="a" class="g_board"
						>포인트샵</router-link
					>
				</div>
				<hr color="#cccccc" />
			</section>

			<div class="cash_area">
				<div class="private-cash-info">
					<div class="chase_much">
						<div class="cash_content_area">
							<h5 class="cash_icon">C</h5>
							<h2 class="cash_money_t">29,000</h2>
						</div>
						<button class="chung_btn">캐시충전</button>
						<div class="cash_content_area">
							<h5 class="point_icon_t">P</h5>
							<h2 class="cash_point_t">29,000</h2>
						</div>
					</div>
					<div class="more_aa">
						<img src="../../assets/img/more_ic.png" class="icon_posi" />
					</div>
				</div>
			</div>
			<main class="cash-main">
				<h2 class="cash_intro">크레딧</h2>
				<section id="search_chaing">
					<form>
						<fieldset>
							<select name="search" class="filte_box">
								<option value="인기순">인기순</option>
								<option value="최신순">최신순</option>
								<option value="인기순">인기순</option>
							</select>
							<input type="search" /><button type="submit">
								<i class="fa fa-search"></i>
							</button>
						</fieldset>
					</form>
				</section>
				<section class="shop_section">
					<div id="cash_gallery">
						<a target="_blank" href="img_5terre.jpg">
							<img
								src="../../assets/img/item/banner_flag_frontier_steambot_001.png"
								alt="Cinque Terre"
							/>
						</a>
						<div class="desc_cash">
							Summer Pinata<br />
							<hr class="gd_line" />
							<h5 class="cash_icon">C</h5>
							<h6 class="cash_money">5,000</h6>
							<i
								src="../../assets/img/item/banner_flag_isletreasure_pirrot_001.png"
							></i>
						</div>
					</div>
					<div id="cash_gallery">
						<a target="_blank" href="img_5terre.jpg">
							<img
								src="../../assets/img/item/c_m_pinata_summer_ui.png"
								alt="Cinque Terre"
							/>
						</a>
						<div class="desc_cash">
							Summer Pinata<br />
							<hr class="gd_line" />
							<h5 class="cash_icon">C</h5>
							<h6 class="cash_money">5,000</h6>
						</div>
					</div>
					<div id="cash_gallery">
						<a target="_blank" href="img_5terre.jpg">
							<img
								src="../../assets/img/item/deco_plushie_duck.png"
								alt="Cinque Terre"
							/>
						</a>
						<div class="desc_cash">
							Summer Pinata<br />
							<hr class="gd_line" />
							<h5 class="cash_icon">C</h5>
							<h6 class="cash_money">5,000</h6>
						</div>
					</div>
					<div id="cash_gallery">
						<a target="_blank" href="img_5terre.jpg">
							<img
								src="../../assets/img/item/entity_harvesting_bulb_sun.png"
								alt="Cinque Terre"
							/>
						</a>
						<div class="desc_cash">
							Summer Pinata<br />
							<hr class="gd_line" />
							<h5 class="cash_icon">C</h5>
							<h6 class="cash_money">5,000</h6>
						</div>
					</div>

					<div id="cash_gallery">
						<a target="_blank" href="img_5terre.jpg">
							<img
								src="../../assets/img/item/equipment_flask_effect_ally_rangedphysical.png"
								alt="Cinque Terre"
							/>
						</a>
						<div class="desc_cash">
							Summer Pinata<br />
							<hr class="gd_line" />
							<h5 class="cash_icon">C</h5>
							<h6 class="cash_money">5,000</h6>
						</div>
					</div>
					<div id="cash_gallery">
						<a target="_blank" href="img_5terre.jpg">
							<img
								src="../../assets/img/item/equipment_flask_effect_damagereflect.png"
								alt="Cinque Terre"
							/>
						</a>
						<div class="desc_cash">
							Summer Pinata<br />
							<hr class="gd_line" />
							<h5 class="cash_icon">C</h5>
							<h6 class="cash_money">5,000</h6>
						</div>
					</div>
				</section>
			</main>
		</div>
		<app-footer></app-footer>
	</div>
</template>

<script>
	import { TopMenu, Footer } from "../../components/layout";
	export default {
		components: {
			appTopMenu: TopMenu,
			appFooter: Footer,
		},
	};
</script>

<style scoped>
	@import url("../../assets/style/style.css");
	@import url("../../assets/style/info_style.css");
	@import url("../../assets/style/board_style.css");
	@import url("../../assets/style/img_bd_style.css");
	@import url("../../assets/style/cash_st.css");
	@import url("../../assets/style/search_style.css");
	@import url("../../assets/style/slide_bar_st.css");
</style>