<template>
	<div>
		<app-top-menu></app-top-menu>
		<section class="visual_sub">
			<img src="../../assets/img/cash_main.jpg" />
			<input type="button" class="start_btn" />
			<h2 class="page_title">캐시샵</h2>
		</section>
		<section class="sub_nao">
			<div class="sub_nav">
				<!-- <a href="./cash_1.html" class="g_board">패키지</a>
				<a href="./cash_2.html" class="g_board_selec">프리미엄</a>
				<a href="./cash_3.html" class="g_board">크레딧</a>
				<a href="./cash_4.html" class="g_board">포인트샵</a> -->
				<router-link to="/cash_shop/cash_1" tag="a" class="g_board"
					>패키지</router-link
				>
				<router-link to="/cash_shop/cash_2" tag="a" class="g_board_selec"
					>프리미엄</router-link
				>
				<router-link to="/cash_shop/cash_3" tag="a" class="g_board"
					>크레딧</router-link
				>
				<router-link to="/cash_shop/cash_4" tag="a" class="g_board"
					>포인트샵</router-link
				>
			</div>
			<hr color="#cccccc" />
		</section>

		<div class="cash_area">
			<div class="private-cash-info">
				<div class="chase_much">
					<div class="cash_content_area">
						<h5 class="cash_icon">C</h5>
						<h2 class="cash_money_t">29,000</h2>
					</div>
					<button class="chung_btn">캐시충전</button>
					<div class="cash_content_area">
						<h5 class="point_icon_t">P</h5>
						<h2 class="cash_point_t">29,000</h2>
					</div>
				</div>
				<div class="more_aa">
					<img src="../../assets/img/more_ic.png" class="icon_posi" />
				</div>
			</div>
		</div>
		<main class="cash-main">
			<h2 class="cash_intro">프리미엄</h2>
			<h3 class="cash_text">
				프리미엄에 관한
				텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트<br />
				텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트
			</h3>
			<hr class="pre_line" />
			<section class="pre_section">
				<div id="pre_gallery">
					<a target="_blank" href="img_5terre.jpg">
						<img
							src="../../assets/img/item/item_lootbox_advancement.png"
							alt="Cinque Terre"
						/>
					</a>
					<div class="pre_title">
						1개월 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;총99,000C<br />
						<hr class="gd_line_2" />
						<h6 class="pre_cont">월 8,250C</h6>
						<button class="crediit">구매하기</button>
					</div>
				</div>
				<div id="pre_gallery">
					<a target="_blank" href="img_5terre.jpg">
						<img
							src="../../assets/img/item/item_lootbox_neon_greater.png"
							alt="Cinque Terre"
						/>
					</a>
					<div class="pre_title">
						1개월 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;총55,000C<br />
						<hr class="gd_line_2" />
						<h6 class="pre_cont">월 9,116C</h6>
						<button class="crediit">구매하기</button>
					</div>
				</div>
				<div id="pre_gallery">
					<a target="_blank" href="img_5terre.jpg">
						<img
							src="../../assets/img/item/item_crafting_event_blackbox_01.png"
							alt="Cinque Terre"
						/>
					</a>
					<div class="pre_title">
						1개월 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;총32,000C<br />
						<hr class="gd_line_2" />
						<h6 class="pre_cont">월 10,666C</h6>
						<button class="crediit">구매하기</button>
					</div>
				</div>
				<div id="pre_gallery">
					<a target="_blank" href="img_5terre.jpg">
						<img
							src="../../assets/img/item/item_crafting_event_battery.png"
							alt="Cinque Terre"
						/>
					</a>
					<div class="pre_title">
						1개월 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;총11,000C<br />
						<hr class="gd_line_2" />
						<h6 class="pre_cont">월 11,000C</h6>
						<button class="crediit">구매하기</button>
					</div>
				</div>
			</section>
			<div class="cause_div">
				<div class="cause_title">주의사항</div>
				<h5 class="cause_cint">
					주의사항설명텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트
					주의사항설명텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트
					주의사항설명텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트
					주의사항설명텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트
					주의사항설명텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트
					주의사항설명텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트
					주의사항설명텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스트
				</h5>
			</div>
		</main>
		<app-footer></app-footer>
	</div>
</template>

<script>
	import { TopMenu, Footer } from "../../components/layout";
	export default {
		components: {
			appTopMenu: TopMenu,
			appFooter: Footer,
		},
	};
</script>

<style scoped>
	@import url("../../assets/style/style.css");
	@import url("../../assets/style/info_style.css");
	@import url("../../assets/style/board_style.css");
	@import url("../../assets/style/img_bd_style.css");
	@import url("../../assets/style/cash_st.css");
	@import url("../../assets/style/search_style.css");
	@import url("../../assets/style/slide_bar_st.css");
</style>