<template>
	<div>
		<app-top-menu></app-top-menu>
		<section class="visual_sub">
			<img src="../../assets/img/news_main.jpg" />
			<input type="button" class="start_btn" />
			<h2 class="page_title">뉴스</h2>
		</section>
		<section class="sub_nao">
			<div class="sub_nav">
				<!-- <a href="./news_1.html" class="g_board">공지사항</a>
				<a href="./news_2.html" class="g_board_selec">업데이트</a>
				<a href="./news_3.html" class="g_board">이벤트</a> -->
				<router-link to="/news/news1" tag="a" class="g_board">공지사항</router-link>
				<router-link to="/news/news2" tag="a" class="g_board_selec">업데이트</router-link>
				<router-link to="/news/news3" tag="a" class="g_board">이벤트</router-link>
			</div>
			<hr color="#cccccc" />
		</section>
		<main class="news-main">
			<h2 class="trove_intro">업데이트</h2>
			<section id="search_chaing">
				<form>
					<fieldset>
						<input type="search" /><button type="submit">
							<i class="fa fa-search"></i>
						</button>
					</fieldset>
				</form>
			</section>
			<div class="tabmenu">
				<div class="tabCon" style="display: block;">
					<div class="row">
						<div class="col-sm-9">
							<div class="right_area page_cs_notice">
								<!-- 컨텐츠 영역 -->

								<!-- //CS Center 탭버튼 -->
								<div class="right_contents">
									<table class="table_basic">
										<colgroup>
											<col width="10%" />
											<col width="60%" />
											<col width="10%" />
											<col width="10%" />
											<col width="10%" />
										</colgroup>
										<thead>
											<tr>
												<th scope="col">상태</th>
												<th scope="col">제목</th>
												<th scope="col">등록일</th>
												<th scope="col">닉네임</th>
												<th scope="col">조회수</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td><img src="../../assets/img/update_icon.png" /></td>
												<td class="tit_contents_td">
													<a href="">트로브 업데이트 글입니다.</a>
												</td>
												<td>2020.07.10</td>
												<td>TROVE</td>
												<td>123</td>
											</tr>
											<tr>
												<td><img src="../../assets/img/update_icon.png" /></td>
												<td class="tit_contents_td">
													<a href="">트로브 업데이트 글입니다.</a>
												</td>
												<td>2020.07.10</td>
												<td>TROVE</td>
												<td>123</td>
											</tr>
											<tr>
												<td><img src="../../assets/img/update_icon.png" /></td>
												<td class="tit_contents_td">
													<a href="">트로브 업데이트 글입니다.</a>
												</td>
												<td>2020.07.10</td>
												<td>TROVE</td>
												<td>123</td>
											</tr>
											<tr>
												<td><img src="../../assets/img/update_icon.png" /></td>
												<td class="tit_contents_td">
													<a href="">트로브 업데이트 글입니다.</a>
												</td>
												<td>2020.07.10</td>
												<td>TROVE</td>
												<td>123</td>
											</tr>
											<tr>
												<td><img src="../../assets/img/update_icon.png" /></td>
												<td class="tit_contents_td">
													<a href="">트로브 업데이트 글입니다.</a>
												</td>
												<td>2020.07.10</td>
												<td>TROVE</td>
												<td>123</td>
											</tr>
											<tr>
												<td><img src="../../assets/img/update_icon.png" /></td>
												<td class="tit_contents_td">
													<a href="">트로브 업데이트 글입니다.</a>
												</td>
												<td>2020.07.10</td>
												<td>TROVE</td>
												<td>123</td>
											</tr>
										</tbody>
									</table>
									<div class="boxed-list-wrapper">
										<!-- 하단 페이징 -->
										<div class="pagination-box box">
											<div class="pagination">
												<div class="wrapper">
													<a
														href="${pageContext.request.contextPath}/CScenter/CScenterNotice?page=1"
														class="fa fa-angle-double-left paging-btn btn first"
													></a>

													<a
														href="${pageContext.request.contextPath}/CScenter/CScenterNotice?page=${page-1}"
														class="fa fa-angle-left paging-btn btn prev"
													></a>

													<a
														href="${pageContext.request.contextPath}/CScenter/CScenterNotice?page=${i}"
														class="paging-btn btn active"
														>1</a
													>

													<a
														href="${pageContext.request.contextPath}/CScenter/CScenterNotice?page=${page+1}"
														class="fa fa-angle-right paging-btn btn next"
													></a>

													<a
														href="${pageContext.request.contextPath}/CScenter/CScenterNotice?page=${tempEndPage}"
														class="fa fa-angle-double-right paging-btn btn last"
													></a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!--// 컨텐츠 영역 -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
		<app-footer></app-footer>
	</div>
</template>

<script>
	import { TopMenu, Footer } from "../../components/layout";
	export default {
		components: {
			appTopMenu: TopMenu,
			appFooter: Footer,
		},
	};
</script>

<style scoped>
@import url("../../assets/style/style.css");
@import url("../../assets/style/news_style.css");
@import url("../../assets/style/info_style.css");
@import url("../../assets/style/board_style.css");
@import url("../../assets/style/search_style.css");
@import url("../../assets/style/slide_bar_st.css");
</style>