.gamu_content{
    font-family: 'Noto Sans KR', sans-serif;
    color: #999999;
    font-size: 16px;
    margin-top: 43px;

}
#class_title{
    width: 100%;
    text-align: center;
    height: 160px;
    background-color: #f9f9f9;
    margin: 60px 0;
    padding-top: 40px;
}

#class_slider, #tamhum_slider {
    margin-top: 80px;
    
    width: 100%;
    max-width: 1374px;
    height: 450px;
}

.tamhum-content {
    max-width: 1374px;
    margin: 100px auto;
    margin-top: 50px;
}