.you_bodyu {
  min-height: 100vh;
}

.cash-main {
    max-width: 1374px;
    margin: 0 auto;
    padding-bottom: 100px;
    display: block;
}
.cash_area {
  background-color: #f9f9f9;
  height: 80px;
  width: 100%;
  margin-bottom: 66px;
}
.cash_intro {
  margin-top: 66px;
  text-align: center;
  font-size: 40px;
  color: #333333;
}

.filte_box {
  margin-bottom: 50px;
  width: 120px;
  height: 50px;
  position: absolute;
  left: -120px;
  border: 1px solid #dbdbdb;
  background-color: #dbdbdb;
  padding-left: 15px;
  font-size: 14px;
  color: #777777;
}
#cash_gallery {
  overflow: hidden;
  margin-top: 40px;
  margin-left: 40px;
  float: left;
  width: 620px;
}

#cash_gallery img {
  background-color: #f5f5f5;
  overflow: hidden;
  width: 240px;
  height: 240px;
  margin-bottom: 0px;
}

.desc_cash {
  padding-top: 60px;
  padding-left: 40px;
  float: right;
  font-size: 22px;
  color: #333333;
  width: 380px;
  height: 240px;

  border: 1px solid #dbdbdb;
}
.cash_money {
  margin-top: 22px;
  font-size: 30px;
  color: #555555;
  display: inline-block;
}
.gd_line {
  margin-top: 20px;
  margin-left: 0px;
  width: 300px;
  border: 1px solid #dbdbdb;
}
.gd_line_2 {
  margin-top: 20px;
  width: 200px;
  border: 1px solid #dbdbdb;
}
.shop_section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.cash_text {
  text-align: center;

  margin-top: 35px;
  font-size: 16px;
  color: #777777;
}
.pre_section {
  margin-top: 40px;
}
#pre_gallery {
  width: 305px;
  height: 585px;
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
}
#pre_gallery img {
  background-color: #f5f5f5;
  overflow: hidden;
  width: 305px;
  height: 305px;
  margin-bottom: 0px;
  margin-right: 20px;
}
.pre_title {
  padding-top: 44px;
  padding-left: 33px;
  border: 1px solid #ebebeb;
  width: 305px;
  height: 280px;
  font-size: 20px;
  color: #777777;
}
.pre_line {
  margin-top: 32px;
  width: 1280px;
  border: 1px solid #dbdbdb;
}
.pre_cont {
  margin-top: 15px;
  font-size: 28px;
  color: #555555;
}
.crediit {
  margin-top: 43px;
  font-size: 20px;
  width: 240px;
  height: 56px;
  background-color: #ffe201;
}
.cause_div {
  margin-top: 120px;
  width: 1280px;
  height: 264px;
  padding: 0;
}
.cause_title {
  padding-top: 12px;
  padding-left: 20px;
  width: 1280px;
  height: 56px;
  background-color: #f9f9f9;
  font-size: 24px;
  color: #333333;
  vertical-align: middle;
}
.cause_cint {
  margin-top: 42px;
  font-size: 16px;
  color: #777777;
}
.chase_much {
  width: 400px; height: 56px;
  border-radius: 28px;
  background-color: #ffffff;
  position: relative;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cash_icon {
  text-align: center;
  width: 32px; height: 32px;
  line-height: 32px;
  border: 0px solid #333333;
  font-size: 22px;
  color: #ffffff;
  background-color: #0069c3;
  border-radius: 30px;
  display: inline-block;
  margin-right: 10px;
}
.cash_money_t {
  display: inline-block;
  font-family: NotoSansKR;
  font-size: 18px;
  font-weight: 500;
  color: #333333;
}
.chung_btn {
  padding: 0;
  margin: 0 20px;
  width: 80px; height: 40px;
  border-radius: 2px;
  border: solid 1px #ebebeb;
}
.cash_content_area {
  display: flex;
  align-items: center;
}
.point_icon_t {
  text-align: center;
  width: 32px; height: 32px;
  line-height: 32px;;
  border: 0px solid #333333;
  display: inline-block;
  font-size: 22px;
  color: #ffffff;
  background-color: #f7cd19;
  border-radius: 30px;
  margin-right: 10px;
}
.cash_point_t {
  display: inline-block;
  font-family: NotoSansKR;
  font-size: 18px;
  font-weight: 500;
  color: #333333;
}
.point_icon {
  text-align: center;
  width: 32px;
  height: 32px;
  border: 0px solid #333333;
  font-size: 22px;
  color: #ffffff;
  background-color: #f7cd19;
  border-radius: 30px;
  display: inline-block;
  margin-right: 10px;
}
.more_aa {
  width: 56px; height: 56px;
  background-color: #ffffff;
  border-radius: 30px;
  margin-left: 30px;
  position: relative;
}
.icon_posi {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}
.private-cash-info {
    max-width: 1374px;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    margin: 0 auto;
    position: relative;
    display: flex;
}