.down_title {
  font-size: 40px;
  color: #333333;
  margin-top: 82px;
  text-align: center;
}
.down_top {
    margin: 0 auto;
    max-width: 1374px;
}
.down_btn {
  background: url("../img/down_btn.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 40px;
  border: none;
  width: 100%;
  height: 200px;
  cursor: pointer;
}
.sy_title {
  font-size: 40px;
  margin-top: 100px;
  text-align: center;
}
.pc_sy {
    margin: 0 auto;
    margin-top: 41px;
    width: 100%;
    max-width: 1374px;
    padding-bottom: 100px;
}
.pc_cate {
  border: 5px solid #ffffff;
  background-color: #555555;
  color: #ffffff;
  font-size: 22px;
  width: 300px;
  height: 66px;
}
.pc_cate_2 {
  border: 5px solid #ffffff;
  background-color: #555555;
  width: 480px;
  height: 66px;
  color: #ffffff;
  font-size: 22px;
}
.pc_cate_3 {
  border: 5px solid #ffffff;
  background-color: #555555;
  width: 480px;
  height: 66px;
  color: #ffffff;
  font-size: 22px;
}
.pc_row_1_cen {
  text-align: center;
  padding: 20px;
  font-size: 16px;
  color: #555555;
}
.pc_row_1 {
  padding: 20px;
  font-size: 16px;
  color: #555555;
  border-left: 10px solid #ffffff;
}
.pc_row_bt {
  border-left: 10px solid #ffffff;
  border-bottom: 1px solid #555555;
  padding: 20px;
  font-size: 16px;
  color: #555555;
}
.pc_row_bt_cen {
  text-align: center;
  border-bottom: 1px solid #555555;
  padding: 20px;
  font-size: 16px;
  color: #555555;
}
