.FAQ_title {
  margin-top: 80px;
  font-size: 40px;
  text-align: center;
  margin-bottom: 40px;
}
.btn_div {
  margin-top: 80px;
  width: 100%;
}
.fq_btn {
  margin-left: 10px;
  width: 305px;
  height: 56px;
  background-color: #27575a;
  color: #ffffff;
  font-size: 20px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.article_search {
  width: 100%;
  height: 64px;
  margin: 10px auto;
  text-align: center;
}
.article_search_field,
.article_search_submit {
  border: solid 1px #dbdbdb;
  font-size: 16px;
}
.article_search_field {
  width: 85%;
  height: 64px;
}
.article_search_submit {
  width: 10%;
  height: 64px;
  background-color: #ffffff;
  color: #dbdbdb;
}
.faq_content {
    max-width: 1374px;
    margin: 0 auto;
    padding-bottom: 100px;
}