#te {
  position: relative;
  height: 150vh;
}
div.gallery {
  margin-top: 40px;
}
div.gallery-box {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

div.gallery img {
  width: 400px;
  height: 240px;
  margin-bottom: 0px;
}

div.desc {
  font-size: 22px;
  color: #333333;
  width: 400px;
  height: 136px;
  padding: 15px;
  text-align: center;
  border: 1px solid #dbdbdb;
}
.cont_text {
  font-size: 16px;
  width: 400px;
  margin-left: -20px;

  color: #999999;
}
.ib_title {
  font-size: 22px;
  width: 400px;
  height: 136px;
  padding: 20px;
  border: 1px solid #dbdbdb;
  position: relative;
}
.ib_cnt {
  display: inline-block;
  font-size: 1.333rem;
  color: #999999;
}
.ib_cont {
  margin-top: 34px;
  display: inline-block;
  font-size: 18px;
  color: #555555;
}
.ib_cont_2 {
  margin-left: 10px;
  display: inline-block;
  font-size: 14px;
  color: #999999;
}
.heart_click {
  display: inline-block;
  width: 20px;
  height: 18px;
}
.hot_line {
  width: 100%;
}
