* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul > li {
  list-style: none;
}
a {
  text-decoration: none;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

#joinForm {
  max-width: 640px;
  margin: 0 auto;
  min-height: 100vh;
  padding-bottom: 100px;
}
ul.join_box {
  border: 1px solid #ddd;
  background-color: #f9f9f9f9;
}
.auth-form {
    padding: 15px;
}
.checkBox,
.checkBox > ul {
  position: relative;
}
.checkBox > ul > li {
  float: left;
}
.checkBox > ul > li:first-child {
  width: 85%;
  padding: 15px;
  font-weight: 600;
  background-color: #f9f9f9f9;
  color: #333333;
}
.checkBox > ul > li:nth-child(2) {
  position: absolute;
  top: 50%;
  right: 20px;
  margin-top: -10px;
  background-color: #f9f9f9f9;
}
.checkBox textarea {
  width: 100%;
  height: 204px;
  background-color: #ffffff;
  color: #333333;
  border: 1px solid #e2e2e2;
}
.footBtwrap {
  margin-top: 15px;
}
.footBtwrap > li {
  width: 100%;
  height: 60px;
}
.footBtwrap > li > button {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 20px;
  text-align: center;
  line-height: 60px;
}
.fpmgBt2 {
  margin-top: 78px;
  background-color: #ffe201;
  color: #555555;
  border: 0px;
  width: 640px;
}
.all_agree {
  font-weight: bold;
  color: #0a6e53;
  font-size: 20px;
  display: inline-block;
}
.inz_btn {
  width: 120px;
  height: 48px;
  border: 1px solid #dbdbdb;
  background-color: #f9f9f9;
}

.bonin_text {
  text-align: center;
  font-size: 20px;
  font-family: NotoSansKR;
  color: #333333;
}
.inz_phone {
    margin: 0 auto;
    margin-top: 80px;
  
  max-width: 640px;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 200px;
  border: 1px solid #e2e2e2;
  background-color: #f9f9f9f9;
}
.cont_icon {
}
.cont_text {
  font-size: 20px;
  color: #333333;
}
.phone_btn {
  width: 160px;
  height: 64px;
  background-color: #ffe201;
  border: 0px;
  font-size: 18px;
}
