a {
  color: #333;
  text-decoration: none;
}
input {
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  -webkit-appearance: textfield;
  background-color: white;
  -webkit-rtl-ordering: logical;
  cursor: text;
  margin: 0em;
  font: 400 13.3333px Arial;
  padding: 1px 0px;
  border-width: 2px;
  border-style: inset;
  border-color: initial;
  border-image: initial;
}
.inner_login {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 480px;
}
.login_tistory {
  position: relative;
}
.screen_out {
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
}
body,
button,
input,
select,
td,
textarea,
th {
  font-size: 13px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
fieldset,
img {
  border: 0;
  margin: 0; padding: 0;
}
.login_tistory .box_login {
  margin: 35px 0 0;
  border: 1px solid #ddd;
  border-radius: 3px;
  background-color: #fff;
  box-sizing: border-box;
}
.login_tistory .inp_text {
  position: relative;
  width: 100%;
  height: 56px;
  margin: 0;
  padding: 18px 19px 19px;
  box-sizing: border-box;
}
.login_tistory .inp_text + .inp_text {
  border-top: 1px solid #ddd;
  width: 100%;
}
.inp_text input {
  margin-top: -18px;
  display: block;
  height: 56px;
  font-size: 16px;
  color: #dbdbdb;
  border: none;
  outline: 0;
  -webkit-appearance: none;
  background-color: transparent;
}
.btn_login {
  margin: 20px 0 0;
  width: 100%;
  height: 56px;
  border: 0px;
  font-size: 18px;
  color: #333333;
  background-color: #ffe201;
}
.login_append {
  overflow: hidden;
  padding: 15px 0 0;
}
.inp_chk {
  display: inline-block;
  position: relative;
  margin-bottom: -1px;
}
.login_append .inp_chk {
  float: left;
}
.inp_chk .inp_radio {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  border: 0;
}
.inp_chk .lab_g {
  display: inline-block;
  margin-right: 19px;
  color: #909090;
  font-size: 13px;
  line-height: 19px;
  vertical-align: top;
}
.inp_chk .ico_check {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: 1px 4px 0 0;
  background-position: -60px 0;
  color: #333;
}
.inp_chk .txt_lab {
  vertical-align: top;
}
.login_append .txt_find {
  float: right;
  color: #333333;
}
.trove_login {
  font-size: 32px;
  text-align: center;
}
.btn_login_1 {
  margin: 20px 0 0;
  position: relative;
  width: 100%;
  height: 56px;
  border: 1px solid #e2e2e2;
  font-size: 16px;
  color: #777777;
  background-color: #ffffff;
}
.logo_img {
  width: 24px;
  height: 24px;
  left: 10%;
  position: absolute;
}
