.G_tag {
  width: 64px;
  height: 24px;
  background-color: #e69f3a;
}
.tabmenu {
  min-height: 100vh;
  display: flex;
  position: relative;
  font-size: 22px;
}
.tabmenu ul {
  width: 33.33333%;
}
.tabmenu ul li {
  margin-top: 65px;
  margin-bottom: 65px;
  width: 100%;
  text-align: center;
  line-height: 40px;
}
.tabmenu label {
  padding-top: 12px;
  height: 64px;
  display: block;
  width: 100%;
  background: #ebebeb;
  line-height: 40px;
  border: 1px solid #ebebeb;
}
.tabmenu input {
  display: none;
}
.tabCon {
  margin-top: 80px;
  display: none;
  text-align: left;
  position: relative;
  left: 0;
  top: 40px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
}
.tabmenu input:checked ~ label {
  height: 64px;
  background: #ffffff;
  color: #1c8286;
  border-top: 4px solid #1c8286;
}
.tabmenu input:checked ~ .tabCon {
  display: block;
}
.news-main {
  display: block;
  max-width: 1374px;
  margin: 0 auto;
  padding-bottom: 100px;
}

.menu_num-three .tabCon {
  width: 300%;
}
.menu_num-three #tab1 .tabCon {
  left: 0;
}
.menu_num-three #tab2 .tabCon {
  left: -100%;
}
.menu_num-three #tab3 .tabCon {
  left: -200%;
}