.m_body {
  max-width: 1374px;
  margin: 0 auto;
  min-height: 150vh;
}
.m_content {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 100px;
}
.m_category, .m_title, .m_context, .filebox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.cate_title {
  font-size: 20px;
  color: #333333;
  width: 100px;
  text-align: left;
}
.cate_1 {
  position: relative;
  width: 470px;
  height: 48px;
  color: #999999;
  font-size: 16px;
  border: 1px solid #dbdbdb;
}
.cate_2 {
  width: 470px;
  height: 48px;
  color: #999999;
  font-size: 16px;
  border: 1px solid #dbdbdb;
  margin-left: 41px;
}
.ques_title {
  width: 980px;
  height: 48px;
  color: #999999;
  font-size: 16px;
  border: 1px solid #dbdbdb;
}

.ques_cont {
  width: 980px;
  height: 310px;
  color: #999999;
  font-size: 16px;
  border: 1px solid #dbdbdb;
}
.filebox label {
  font-size: 20px;
  color: #333333;
}
.filebox input[type="file"] {
  position: absolute;
  margin-top: 390px;
  width: 240px;
  height: 48px;
  border: 1px solid #dbdbdb;
  background-color: #f9f9f9;
}

.filebox input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.filebox label {
  display: inline-block;
  color: #999;
  font-size: inherit;
  line-height: normal;
  vertical-align: center;
  background-color: #fdfdfd;
  cursor: pointer;
  border: 1px solid #ebebeb;
  border-bottom-color: #e2e2e2;
  border-radius: 0.25em;
}

/* named upload */
.filebox .upload-name {
  height: 48px;
  width: 740px;
  display: inline-block;
  font-size: 14px;
  color: #999999;
  font-family: inherit;
  line-height: normal;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #ebebeb;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.filebox.bs3-primary label {
  width: 240px; height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333333;
  background-color: #f9f9f9;
  border: 1px solid #dbdbdb;
  text-align: center;
  font-size: 16px;
}
.quest_accept {
  max-width: 640px;
  width: 100%;
  height: 56px;
  background-color: #ffe201;
  font-size: 18px;
  color: #333333;
  border: 0px;
  margin-top: 170px;
}
.mun_title {
  margin-top: 82px;
  font-size: 40px;
  text-align: center;
  color: #333333;
}
.mun_text {
  margin-top: 22px;
  font-size: 18px;
  color: #555555;
}
.mun-content {
    max-width: 1374px;
    margin: 0 auto;
    padding-bottom: 100px;
}