section#search_chaing {
  padding-bottom: 10px;
}
fieldset {
  position: relative;
  display: inline-block;
  background: #fff;
  border: none;
  border-radius: 5px;
}
form {
  text-align: right;
}
fieldset input,
fieldset button {
  position: relative;
  width: 300px;
  height: 50px;
  display: inline-block;
  border: 1px solid #dbdbdb;
}

input {
        padding: 0 20px;
  color: #666;
  z-index: 1;
  border: 1px solid #dbdbdb;
}

input:focus {
  outline: 0 none;
}

input:focus + button {
  -webkit-transform: translate(0, 0);

  -ms-transform: translate(0, 0);

  transform: translate(0, 0);

  -webkit-transition-duration: 0.3s;

  transition-duration: 0.3s;
}

input:focus + button .fa {
  -webkit-transform: translate(0px, 0);

  -ms-transform: translate(0px, 0);

  transform: translate(0px, 0);

  -webkit-transition-duration: 0.3s;

  transition-duration: 0.3s;

  color: #000000;
}

fieldset button {
  z-index: 1;
  width: 50px;
  border: 1px solid #dbdbdb;
  border-left: 0px;
  background: #ffffff;
  cursor: pointer;

  -webkit-transform: translate(-50px, 0);

  -ms-transform: translate(-50px, 0);

  transform: translate(-50px, 0);

  -webkit-transition-duration: 0.3s;

  transition-duration: 0.3s;
}

.fa-search {
  font-size: 1.4rem;
  color: #29abe2;
  z-index: 3;
  top: 25%;

  -webkit-transform: translate(-250px, 0);

  -ms-transform: translate(-250px, 0);

  transform: translate(-250px, 0);

  -webkit-transition-duration: 0.3s;

  transition-duration: 0.3s;

  -webkit-transition: all 0.1s ease-in-out;

  transition: all 0.1s ease-in-out;
}
