/* 사이드바 스타일 */
.sidenav {
	height: 100%;
	width: 0;
	max-width: 100%;
	position: fixed;
	z-index: 999;
	top: 0;
	right: 0;
	background-color: #ebebeb;
	overflow-x: hidden;
	transition: 0.5s ease-in-out;
	white-space: nowrap;
}
.sidenav a {
	text-decoration: none;
	font-size: 25px;
	color: #707070;
	display: block;
	transition: 0.2s ease-in-out;
}
.sidenav a:hover,
.offcanvas a:focus {
	color: #000;
}
.closebtn {
	position: absolute;
	top: 40px;
	left: 90%;
	vertical-align: middle;
	line-height: 25px;
	font-size: 36px !important;
}
.sl_idid {
	padding-top: 40px;
	width: 100%;
	height: 185px;
	background-color: #f9f9f9;
}
.sidenav-welcome,
.sidenav-action {
	display: flex;
	padding: 0 40px;
	line-height: 30px;
	align-items: baseline;
}
.sli_nick {
	font-family: Roboto;
	font-size: 20px;
	color: #555555;
	font-weight: 700;
	margin-right: 10px;
}
.wel_text {
	font-family: NotoSansKR;
	font-size: 20px;
	color: #555555;
	font-weight: normal;
}
.sidenav-action {
	padding-top: 50px;
	width: 335px;
	justify-content: space-between;
}
.hre_minfo {
	letter-spacing: -0.8px;
	font-size: 16px;
	background-color: #f9f9f9;
	border: 0px;
	color: #333333;
	font-weight: 700;
}
.hre_logout {
	font-size: 16px;
	background-color: #f9f9f9;
	border: 0px;
	color: #777777;
}
.PcBang_text {
	font-family: NotoSansKR;
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.5;
	letter-spacing: -0.8px;
	color: #333333;
}
.OFF {
	line-height: 1.5;
	letter-spacing: -0.8px;
	font-size: 16px;
	font-weight: 700;
	color: #999999;
}
.ON {
	line-height: 1.5;
	letter-spacing: -0.8px;
	font-size: 16px;
	font-weight: 500;
	color: #ffe201;
}

.sidenav-cashinfo {
	position: relative;
	text-align: left;
	padding: 20px 40px;
}

.My_cash {
	font-size: 18px;
	color: #333333;
	font-weight: 800;
	margin: 20px 0;
}
.herhr {
	width: 100%;
	color: #dbdbdb;
	margin: 20px 0;
}
.cash-area {
	width: 100%;
	height: 48px;
	background-color: #fff;
	border-radius: 100px;
	position: relative;
	display: flex;
	align-items: center;
	margin-top: 10px;
	padding: 0 10%;
	overflow: hidden;
}
.t_t_t {
	font-family: NotoSansKR;
	font-size: 16px;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.5;
	letter-spacing: -0.8px;
	color: #555555;
	flex-basis: 50%;
	vertical-align: middle;
}
.t_t {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	font-size: 22px;
	line-height: 32px;
	width: 32px;
	height: 32px;
	border-radius: 30px;
	color: #ffffff;
}
.t_cash-amount {
	width: 50%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.t_m_t {
	margin-right: 10px;
	font-weight: normal;
	display: inline-block;
	font-family: NotoSansKR;
	font-size: 16px;
}

.MainTitle_mobile-hamburger__1m_vf {
	width: 40px;
	height: 40px;
}

/* 미디어쿼리 적용 */
@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}
	.sidenav a {
		font-size: 18px;
	}
}
