@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR|ZCOOL+QingKe+HuangYou');

* {
  margin: 0;
  padding: 0;
  color: #000;
  font-family: 'Noto Sans KR', sans-serif;
  box-sizing: border-box;
}
html {
  font-size: 12px;
}
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.mainBanner-container,
.swiper-container {
  width: 100%;
  height: 450px;
}
.fn-font {
  font-family: 'Noto Sans KR', sans-serif;
}
.new-font {
  font-family: 'Noto Sans KR', sans-serif;
  color: white;
  font-size: 1.833rem;
  text-align: center;
}
.login_btn {
  text-align: center;
}
.logout_btn {
  font-family: Roboto;
  font-size: 1.667rem;

  font-weight: 500;
}
.more_btn {
  background-color: #ffffff;
  border: 0;
  position: relative;
  top: 4px;
}
.n-font {
  font-family: 'Noto Sans KR', sans-serif;
  color: white;
  font-size: 1.333rem;
  text-align: center;
}
.wrap_content {
  height: 100%;
  margin-bottom: 50px;
}
ul {
  list-style: none;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
  outline: none;
}
.container {
  width: 1920px;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 80px;
  align-items: center;
  justify-content: space-around;
}
.header-nav {
  width: 120px;
  display: flex;
  justify-content: center;
}
header > h2 {
  margin-left: 20px;
  margin-right: 136px;
  text-align: center;
}

header > nav {
  width: 60px;
  height: 100%;
}

header ul {
  max-width: 1374px;
  margin: auto;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

header ul > li {
  font-size: 1.667rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  vertical-align: middle;
  text-align: center;
}
/* .visual {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(visual.png);
  background-size: cover;
  background-position: 0% 20%;
  width: 100%;
  height: 480px;
  position: relative;
} */
.sosic_intro {
  clear: both;
  max-width: 1374px;
  width: 100%;
  text-align: center;
  margin: auto;
  font-size: 3.667rem;
}
input.start_btn {
  border: 0px transparent;
  /* background: url(../../ass/img/trove_info.png);  */
  background: url(../../assets/img/trove_info.png);
  width: 272px;
  height: 307px;
  position: absolute;
  top: 326px;
  left: 50%;
  transform: translateX(-50%);
}
.sosick {
  margin: auto;
  margin-top: 55px;
  margin-bottom: 125px;
  max-width: 1374px;
}
.sosick_div {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 30px;
}
.info-content {
  padding-top: 50px;
}
.woowha {
  margin-top: 40px;
}
.news {
  box-sizing: border-box;
  border: 1px solid #e2e2e2;
  background-color: #ffffff;
  max-width: 800px;
  margin: auto;
  width: 100%;
}
.aaa {
  max-width: 440px;
}
.aaa > img {
  height: 100%;
}
.aaa2 {
  margin-right: 80px;
}
.aaa3 {
  margin-left: 80px;
  margin-top: -7px;
}
.com_banner {
  width: 100%;
}
.commu-area {
  position: relative;
  margin-top: 400px;
  width: 100%;
  height: 600px;
}
.com-banner-area {
  position: absolute;
  top: -60%;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.com-box-area {
  display: flex;
  max-width: 1374px;
  padding: 0 20px;
  justify-content: space-around;
  margin: auto;
}
.gamu_con_title {
  font-size: 2.333rem;
  color: #333333;
}
.gamu_con_text {
  margin-top: 0px;
  font-size: 1.667rem;
  color: #777777;
}
.com_intro {
  text-align: center;
  margin-top: 72px;
  font-size: 3.667rem;
  margin-bottom: 20px;
}
.com_box {
  width: 305px;
  min-width: 305px;
  margin-right: 10px;
  border: 1px solid #e2e2e2;
  margin-bottom: 10px;
  position: relative;
  background-color: #ffffff;
  padding: 32px;
}
.artic {
  max-width: 700px;
  margin: 40px;
  transition: all 0.3s ease-in-out;
}
.cont_text {
  font-size: 1.333rem;
  color: #777777;
  vertical-align: middle;
}
.news_icon {
  display: inline-block;
  margin-right: 20px;
}
.itstitle_fir {
  vertical-align: middle;
  display: inline-block;
  margin-bottom: 12px;
  font-size: 1.5rem;
  color: #333333;
}
.itstitle {
  margin-top: 40px;
  margin-bottom: 12px;
  font-size: 1.5rem;
  color: #333333;
}
.cash {
  margin: auto;
  margin-top: 55px;
  margin-bottom: 100px;
  max-width: 1280px;
  height: 470px;
}
.commu {
  margin-top: 40px;
  width: 100%;
  position: relative;
}
.commu * {
  transition: all 0.3s ease-in-out;
}

.content {
  display: flex;
  justify-content: space-around;
  margin: 64px auto;
  max-width: 1374px;
}

#focus {
  width: 165px;
  height: 63px;
  font-family: NotoSansKR;
  font-size: 3.667rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.52;
  letter-spacing: -2.2px;
  text-align: left;
  color: #333333;
}
.content > .item {
  min-width: 400px;
  max-width: 400px;
  overflow: hidden;
}
.img {
  width: 100%;
  height: 280px;
  text-align: center;
}

.img > img {
  height: 100%;
  object-fit: cover;
}
.item .info {
  background: #1c8286;
  padding: 30px;
  height: 144px;

  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}
.item .info_2 {
  background: #c6884a;
  padding: 30px;
  height: 144px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}
.item .info_3 {
  background: #27575a;
  padding: 30px;
  height: 144px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}
.info > h4 {
  font-size: 1.833rem;
  color: white;
}
.info > p {
  font-size: 1.333rem;
  color: white;
}
#g_info {
  margin-right: 32px;
}
#adven {
  margin-right: 32px;
  margin-left: 32px;
}
#tam {
  margin-right: 32px;
  margin-left: 32px;
}
#mak {
  margin-right: 32px;
  margin-left: 32px;
}

.footer {
  font-size: 1.166rem;
  padding: 40px 0;
  width: 100%;
  min-height: 200px;
  background-color: #222222;
  word-break: normal;
}
.footer ul,
.footer-bottom {
  max-width: 1374px;
  padding: 20px;
  margin: auto;
}
.footerline {
  margin-top: 40px;
  margin-bottom: 20px;
  border: 1px solid #555555;
}
.footerline_2 {
  margin-top: 5px;
  margin-bottom: 2px;
  border: 0px;
}
.footer_nav {
  font-size: 1.333rem;
  color: #dbdbdb;
  margin-bottom: 23px;
}
.footer_nav_2 {
  font-size: 1.166rem;
  color: #555555;
}

.mySlides {
  width: 100%;
}
.mySlide-area {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
}

.topMenu {
  position: relative;
  width: 100%;
  text-align: center;
  height: 80px;
}
.topMenu:hover {
  background: rgab(51, 51, 51, 0.95);
}
.topMenu::after {
  position: absolute;
  width: 100%;
  height: 360px;
  z-index: 998;
  content: '';
  display: none;
  clear: both;
  background: rgba(51, 51, 51, 0.95);
}
.dept-shade {
  position: absolute;
  width: 100%;
  height: 0px;
  max-height: 360px;
  top: 80px;
  z-index: 998;
  background: rgba(51, 51, 51, 0.95);
  background-image: linear-gradient(
    to bottom,
    white 50%,
    rgba(51, 51, 51, 0.95) 50%
  );
  -webkit-transition: background-position 1s;
  -moz-transition: background-position 1s;
  transition: background-position 1s;
}
.dept-shade:hover {
  background-position: 0 -100%;
}
.menu01 > li {
  position: relative;
  line-height: 42px;
  text-align: center;
}
.menu01 span {
  font-size: 1.5rem;
  font-weight: bold;
}
.dept01 {
  position: absolute;
  top: 80px;
  left: 0;
  height: 360px;
  z-index: 999;
  display: inline-block;
  padding-top: 30px;
  margin: 0 auto;
}

.nop {
  position: relative;
  color: #cccccc;
  font-size: 1.333rem;
  width: 120px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.bd_tag {
  font-size: 1.333rem;
  color: #187e7f;
  margin-bottom: 11px;
}
.comuu_title {
  font-size: 1.5rem;
  color: #333333;
  margin-bottom: 20px;
}
.com_line {
  width: 100%;
  margin-bottom: 22px;
  background-color: #e2e2e2;
}
.cont_com {
  font-size: 1.333rem;
  color: #777777;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: -2px;
}
.nickname {
  margin-top: 100px;
  font-size: 1.5rem;
  color: #555555;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  display: inline-block;
}
.made_day {
  font-size: 1.5rem;
  color: #555555;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  display: inline-block;
  margin-left: 90px;
}

.title_3 {
  margin-top: 50px;
  text-align: center;
  font-size: 3.667rem;
}
.page_title {
  font-size: 3.667rem;
  color: #ffffff;
  position: absolute;
  top: 257px;
  left: 20%;
  font-weight: 500;
  font-family: NotoSansKr;
}
.teeeeee {
  padding-bottom: 70px;
}

@media screen and (max-width: 1374px) {
  .com-box-area {
    justify-content: start;
    overflow-x: auto;
  }
  .commu-area {
    height: 500px;
  }
  .content {
    justify-content: start;
    overflow-x: auto;
  }
}
@media screen and (max-width: 1024px) {
  html {
    font-size: 11px;
  }
  .menu01 > .header-nav,
  .dept-shade {
    display: none;
    visibility: hidden;
  }
  .sosick_div {
    display: block;
  }
  .aaa {
    width: 100%;
    margin: auto;
    max-width: 100%;
    text-align: center;
  }
  .aaa > img {
    max-width: 440px;
    width: 100%;
  }
  .com_box {
    width: 45%;
    padding: 24px;
  }
  .content > .item {
    width: 100%;
  }
  .commu-area {
    height: 450px;
  }
  .com-box-area {
    padding: 0;
  }
  .news {
    max-width: 440px;
  }
  .artic {
    margin: 30px;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 10px;
  }
  .com_box {
    width: 100%;
    top: 0;
  }
  .commu-area {
    height: 400px;
  }
  .artic {
    margin: 20px;
  }
}
