.tabmenu {
  min-height: 150vh;
  position: relative;
  max-width: 1374px;
  margin: 0 auto;
  display: flex;
  margin-bottom: 50px;
}
.tabmenu ul {
  width: 50%;
}
.tabmenu ul li {
  margin-top: 65px;
  margin-bottom: 80px;
  width: 100%;
  text-align: center;
  line-height: 40px;
  font-size: 22px;
  position: relative;
}
.tabmenu label {
  padding-top: 12px;
  height: 64px;
  display: block;
  width: 100%;
  line-height: 40px;
  background: #ebebeb;
  border: 1px solid #ebebeb;
}
.tabmenu input {
  display: none;
}
.tabCon {
  margin-top: 80px;
  display: none;
  text-align: left;
  top: 40px;
  box-sizing: border-box;
  margin-bottom: 20px;
  position: relative;
}
.tabmenu input:checked ~ label {
  height: 64px;
  background: #ffffff;
  color: #1c8286;
  border-top: 4px solid #1c8286;
}
.tabmenu input:checked ~ .tabCon {
  display: block;
}

.menu_num-two .tabCon {
  width: 200%;
}
.menu_num-two #tab1 .tabCon {
  left: 0
}
.menu_num-two #tab2 .tabCon {
  left: -100%;
}