.yack_title {
  margin: 0 auto;
  max-width: 1374px;
  font-family: NotoSansKR;
  font-size: 32px;
  text-align: left;
  color: #333333;
  margin-top: 122px;
}
.Y_sly {
  margin: 0 auto;
  max-width: 1374px;
  height: 2px;
  background-color: #777777;
  margin-top: 40px;
}
.eyong {
  margin: 0 auto;
  margin-top: 60px;
  max-width: 1374px;
  padding-bottom: 100px;
  background-color: #ffffff;
}
.jo_text {
  font-size: 18px;
  color: #333333;
}
.hang_text {
  font-size: 16px;
  color: #555555;
}
