<template>
	<div>
		<app-top-menu></app-top-menu>
		<section
			class="visual_sub"
			style="background-image: url('../../img/commu_banner.jpg');"
		>
			<img :src="ImgCommuBanner" alt="" />

			<input type="button" class="start_btn" />
			<h2 class="page_title">커뮤니티</h2>
		</section>
		<section class="sub_nao">
			<div class="sub_nav">
				<!-- <a href="./jayou.html" class="g_board">자유게시판</a>
				<a href="./info_board.html" class="g_board">정보게시판</a>
				<a href="./img_board.html" class="g_board_selec">이미지게시판</a> -->

				<router-link to="/community/freeboard" tag="a" class="g_board"
					>자유게시판</router-link
				>
				<router-link to="/community/infoboard" tag="a" class="g_board"
					>자유게시판</router-link
				>
				<router-link to="/community/imgboard" tag="a" class="g_board_selec"
					>자유게시판</router-link
				>
			</div>
			<hr color="#cccccc" />
		</section>
		<main class="board-main">
			<h2 class="trove_intro">이미지 게시판</h2>
			<section id="search_chaing">
				<form>
					<fieldset>
						<input type="search" /><button type="submit">
							<i class="fa fa-search"></i>
						</button>
					</fieldset>
				</form>
			</section>
			<hr class="hot_line" />
			<div class="gallery-box">
				<div class="gallery">
					<a target="_blank" href="img_5terre.jpg">
						<img
							src="../../assets/img/even_5.png"
							alt="Cinque Terre"
							width="400"
							height="240"
						/>
					</a>
					<div class="ib_title">
						제목 텍스트
						<h1 class="ib_cnt">(21)</h1>
						<br />
						<h6 class="ib_cont">
							TROVE
							<h6 class="ib_cont_2">| 2019.12.24</h6>
						</h6>
						<i src="../../assets/img/heart.png"></i>
					</div>
				</div>
				<div class="gallery">
					<a target="_blank" href="img_5terre.jpg">
						<img
							src="../../assets/img/even_6.png"
							alt="Cinque Terre"
							width="400"
							height="240"
						/>
					</a>
					<div class="ib_title">
						제목 텍스트
						<h1 class="ib_cnt">(21)</h1>
						<br />
						<h6 class="ib_cont">
							TROVE
							<h6 class="ib_cont_2">| 2019.12.24</h6>
						</h6>
						<i src="../../assets/img/heart.png"></i>
					</div>
				</div>
				<div class="gallery">
					<a target="_blank" href="img_5terre.jpg">
						<img
							src="../../assets/img/img_bd_1.jpg"
							alt="Cinque Terre"
							width="400"
							height="240"
						/>
					</a>
					<div class="ib_title">
						제목 텍스트
						<h1 class="ib_cnt">(21)</h1>
						<br />
						<h6 class="ib_cont">
							TROVE
							<h6 class="ib_cont_2">| 2019.12.24</h6>
						</h6>
						<i src="../../assets/img/heart.png"></i>
					</div>
				</div>
				<div class="gallery">
					<a target="_blank" href="img_5terre.jpg">
						<img
							src="../../assets/img/img_bd_2.jpg"
							alt="Cinque Terre"
							width="400"
							height="240"
						/>
					</a>
					<div class="ib_title">
						제목 텍스트
						<h1 class="ib_cnt">(21)</h1>
						<br />
						<h6 class="ib_cont">
							TROVE
							<h6 class="ib_cont_2">| 2019.12.24</h6>
						</h6>
						<i src="../../assets/img/heart.png"></i>
					</div>
				</div>
				<div class="gallery">
					<a target="_blank" href="img_5terre.jpg">
						<img
							src="../../assets/img/img_bd_3.jpg"
							alt="Cinque Terre"
							width="400"
							height="240"
						/>
					</a>
					<div class="ib_title">
						제목 텍스트
						<h1 class="ib_cnt">(21)</h1>
						<br />
						<h6 class="ib_cont">
							TROVE
							<h6 class="ib_cont_2">| 2019.12.24</h6>
						</h6>
						<i src="../../assets/img/heart.png"></i>
					</div>
				</div>
				<div class="gallery">
					<a target="_blank" href="img_5terre.jpg">
						<img
							src="../../assets/img/img_bd_4.jpg"
							alt="Cinque Terre"
							width="400"
							height="240"
						/>
					</a>
					<div class="ib_title">
						제목 텍스트
						<h1 class="ib_cnt">(21)</h1>
						<br />
						<h6 class="ib_cont">
							TROVE
							<h6 class="ib_cont_2">| 2019.12.24</h6>
						</h6>
						<i src="../../assets/img/heart.png"></i>
					</div>
				</div>
				<div class="gallery">
					<a target="_blank" href="img_5terre.jpg">
						<img
							src="../../assets/img/img_bd_5.jpg"
							alt="Cinque Terre"
							width="400"
							height="240"
						/>
					</a>
					<div class="ib_title">
						제목 텍스트
						<h1 class="ib_cnt">(21)</h1>
						<br />
						<h6 class="ib_cont">
							TROVE
							<h6 class="ib_cont_2">| 2019.12.24</h6>
						</h6>
						<i src="../../assets/img/heart.png"></i>
					</div>
				</div>
				<div class="gallery">
					<a target="_blank" href="img_5terre.jpg">
						<img
							src="../../assets/img/img_bd_6.jpg"
							alt="Cinque Terre"
							width="400"
							height="240"
						/>
					</a>
					<div class="ib_title">
						제목 텍스트
						<h1 class="ib_cnt">(21)</h1>
						<br />
						<h6 class="ib_cont">
							TROVE
							<h6 class="ib_cont_2">| 2019.12.24</h6>
						</h6>
						<i src="../../assets/img/heart.png"></i>
					</div>
				</div>
				<div class="gallery">
					<a target="_blank" href="img_5terre.jpg">
						<img
							src="../../assets/img/img_bd_7.jpg"
							alt="Cinque Terre"
							width="400"
							height="240"
						/>
					</a>
					<div class="ib_title">
						제목 텍스트
						<h1 class="ib_cnt">(21)</h1>
						<br />
						<h6 class="ib_cont">
							TROVE
							<h6 class="ib_cont_2">| 2019.12.24</h6>
						</h6>
						<i src="../../assets/img/heart.png"></i>
					</div>
				</div>
			</div>
		</main>
		<app-footer></app-footer>
	</div>
</template>

<script>
	import { TopMenu, Footer } from "../../components/layout/index";
	import ImgCommuBanner from "../../assets/img/commu_banner.jpg";

	export default {
    data() {
      return {
        ImgCommuBanner
      }
    },
		components: {
			appTopMenu: TopMenu,
			appFooter: Footer,
		},
	};
</script>

<style scoped>
	@import url("../../assets/style/style.css");
	@import url("../../assets/style/info_style.css");
	@import url("../../assets/style/board_style.css");
	@import url("../../assets/style/img_bd_style.css");
	@import url("../../assets/style/search_style.css");
	@import url("../../assets/style/slide_bar_st.css");
</style>