<template>
	<div>
		<app-top-menu></app-top-menu>
		<h2 class="trove_intro">기본 정보 입력</h2>
		<hr class="hr_sly" />
		<h5 class="join_content">고객님의 기본정보를 입력해주세요.</h5>
		<form name="write_form_member" method="post" class="join_style">
			<table class="table_sty">
				<tr>
					<th class="tuuu">아이디</th>
					<td>
						<input type="text" name="cursor:pointer" class="input_text" />
						<input type="submit" class="s_btn" value="중복확인" />
					</td>
				</tr>

				<tr>
					<th class="pwww">비밀번호</th>
					<td>
						<input type="password" name="mbpw" class="input_text_502" /> <br />
						<h5 class="aler_cont">
							영문/숫자/특수문자를 조합하여 10-16자로 입력해주세요.
						</h5>
					</td>
				</tr>
				<tr>
					<th class="teeeeee">비밀번호 확인</th>
					<td>
						<input type="password" name="mbpw_re" class="input_text_502_bnk" />
					</td>
					<br class="sp_blank" />
				</tr>

				<tr>
					<th>이름</th>
					<td><input type="text" name="mbname" class="input_text_502" /></td>
				</tr>
				<tr>
					<th>닉네임</th>
					<td><input type="text" name="mbnick" class="input_text_502" /></td>
				</tr>
				<tr>
					<th>생년월일 및 성별</th>
					<td>
						<select name="year" name1="mbbirth" class="input_text_120">
							<option value="1980">1980</option>
							<option value="1981">1981</option>
							<option value="1982">1982</option>
							<option value="1983">1983</option>
							<option value="1984">1984</option>
							<option value="1985">1985</option>
							<option value="1986">1986</option>
							<option value="1987">1987</option>
							<option value="1988">1988</option>
							<option value="1989">1989</option>
							<option value="1990">1990</option>
							<option value="1991">1991</option>
							<option value="1992">1992</option>
							<option value="1993">1993</option>
							<option value="1994">1994</option>
							<option value="1995">1995</option>
							<option value="1996">1996</option>
							<option value="1997">1997</option>
							<option value="1998">1998</option>
							<option value="1999">1999</option>
							<option value="2000">2000</option>
							<option value="2001">2001</option>
							<option value="2002">2002</option>
							<option value="2003">2003</option>
						</select>
						<select name="month" name1="mbbirth" class="input_text_90">
							<option value="jan">1</option>
							<option value="fab">2</option>
							<option value="mar">3</option>
							<option value="apil">4</option>
							<option value="may">5</option>
							<option value="june">6</option>
							<option value="july">7</option>
							<option value="aug">8</option>
							<option value="sep">9</option>
							<option value="oct">10</option>
							<option value="nob">11</option>
							<option value="dec">12</option>
						</select>

						<select name="day" name1="mbbirth" class="input_text_90">
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
							<option value="10">10</option>
							<option value="11">11</option>
							<option value="12">12</option>
							<option value="13">13</option>
							<option value="14">14</option>
							<option value="15">15</option>
							<option value="16">16</option>
							<option value="17">17</option>
							<option value="18">18</option>
							<option value="19">19</option>
							<option value="20">20</option>
							<option value="21">21</option>
							<option value="22">22</option>
							<option value="23">23</option>
							<option value="24">24</option>
							<option value="25">25</option>
							<option value="26">26</option>
							<option value="27">27</option>
							<option value="28">28</option>
							<option value="29">29</option>
							<option value="30">30</option>
							<option value="31">31</option>
						</select>
						<label class="box-radio-input"
							><input
								type="radio"
								name="cp_item"
								value="옵션1"
								checked="checked"
							/><span>남</span></label
						>
						<label class="box-radio-input"
							><input type="radio" name="cp_item" value="옵션2" /><span
								>여</span
							></label
						>
					</td>
				</tr>
				<tr>
					<th>주소</th>
					<td>
						<input type="text" name="zip_h_1" class="input_text_502" />
					</td>
				</tr>

				<tr>
					<th>이메일</th>
					<td>
						<input type="text" name="email" class="input_text_180" />@
						<select name="emailaddr" class="input_text_280">
							<option value="">직접입력</option>
							<option value="daum.net">daum.net</option>
							<option value="empal.com">empal.com</option>
							<option value="gmail.com">gmail.com</option>
							<option value="hanmail.net">hanmail.net</option>
							<option value="msn.com">msn.com</option>
							<option value="naver.com">naver.com</option>
							<option value="nate.com">nate.com</option>
						</select>
					</td>
				</tr>

				<tr>
					<td colspan="2" align="center">
						<input type="submit" class="sm_btn" value="가입완료" />
					</td>
				</tr>
			</table>
		</form>
		<app-footer></app-footer>
	</div>
</template>

<script>
	import { TopMenu, Footer } from "../../components/layout";
	export default {
		components: {
			appTopMenu: TopMenu,
			appFooter: Footer,
		},
	};
</script>

<style scoped>
	@import url("../../assets/style/style.css");
	@import url("../../assets/style/joins.css");
	@import url("../../assets/style/info_style.css");
	@import url("../../assets/style/slide_bar_st.css");
</style>