<template>
	<div>
		<app-top-menu></app-top-menu>
		<section
			class="visual_sub"
			style="background-image: url('../../assets/img/down_main.jpg');"
		>
			<img src="../../assets/img/down_main.jpg" />

			<input type="button" class="start_btn" />
			<h2 class="page_title">다운로드</h2>
		</section>
		<section class="sub_nao">
			<div class="sub_nav"></div>
			<br />
			<hr color="#cccccc" />
		</section>
		<div class="down_top">
			<h5 class="down_title">다운로드</h5>
			<input type="button" class="down_btn" />
		</div>

		<h5 class="sy_title">권장사양</h5>
		<table class="pc_sy">
			<th class="pc_cate">항목</th>
			<th class="pc_cate_2">최소사양</th>
			<th class="pc_cate_3">권장사양</th>
			<tr>
				<td class="pc_row_1_cen">운영체제</td>
				<td class="pc_row_1">Windows 7/8/8.1/10 - 64-bit</td>
				<td class="pc_row_1">Windows 7/8/8.1/10 - 64-bit</td>
			</tr>
			<tr>
				<td class="pc_row_1_cen">CPU</td>
				<td class="pc_row_1">
					Intel Core i3-2100 @ 3.1GHz<br />
					(or AMD Phenom 7950 Quad-Core,<br />
					AMD Athlon II X4 620 equivalent)
				</td>
				<td class="pc_row_1">
					Intel i5-2550K @ 3.4Ghz<br />
					(or AMD FX-6350 Six-Core equivalent)
				</td>
			</tr>
			<tr>
				<td class="pc_row_1_cen">메모리</td>
				<td class="pc_row_1">4GB</td>
				<td class="pc_row_1">8GB</td>
			</tr>
			<tr>
				<td class="pc_row_bt_cen">하드디스크 여유공간</td>
				<td class="pc_row_bt">4GB</td>
				<td class="pc_row_bt">8GB</td>
			</tr>
		</table>
		<app-footer></app-footer>
	</div>
</template>

<script>
	import { TopMenu, Footer } from "../../components/layout";

	export default {
		components: {
			appTopMenu: TopMenu,
			appFooter: Footer,
		},
	};
</script>

<style scoped>
	@import url("../../assets/style/style.css");
	@import url("../../assets/style/info_style.css");
	@import url("../../assets/style/board_style.css");
	@import url("../../assets/style/search_style.css");
	@import url("../../assets/style/slide_bar_st.css");
	@import url("../../assets/style/ques.css");
	@import url("../../assets/style/down_style.css");
</style>