<template>
	<div>
		<footer class="footer">
			<ul>
				<li class="footer_nav_2">
					<span>(주)TROVE</span>
					<span>|</span>
					<span>사업자등록번호 : 123-456-7890</span>
					<span>|</span>
					<span>전화 : 1234-5678</span>
					<span>|</span>
					<span>팩스 : 1234-5678</span>
					<span>|</span>
					<span>주소 : 서울 중구 세종대로 110 </span>
					<span>|</span>
					<span>E-mail : trove@trove.co.kr</span>
				</li>
				<hr class="footerline_2" />
				<li class="footer_nav_2">
					<span>통신판매업 신고번호 : 제2020-서울-1234호</span>
					<span>|</span>
					<span> ⓒ 2020 TROVE KOREA Corporation ALL Rights Reserverd.</span>
				</li>
			</ul>
			<hr class="footerline" />
			<div class="footer-bottom">
				<span>
					<!-- <a href="html/mun/1_1mun.html" class="footer_nav">고객센터 </a> -->
					<router-link to="/support" tag="a" class="footer_nav"
						>고객센터</router-link
					>
				</span>
				<span>
					<!-- <a href="html/data_contact/eyong.html" class="footer_nav"
						>이용약관
					</a> -->
					<router-link to="/contact/eyong" tag="a" class="footer_nav"
						>고객센터</router-link
					>
				</span>
				<span>
					<!-- <a href="html/data_contact/jungbo.html" class="footer_nav"
						>개인정보처리방침
					</a> -->
					<router-link to="/contact/jungbo" tag="a" class="footer_nav">개인정보처리방침</router-link>
				</span>
			</div>
		</footer>
	</div>
</template>

<script>
	export default {
		name: "Footer",
	};
</script>

<style scoped>
	@import url("../../assets/style/style.css");
	@import url("../../assets/style/slide_bar_st.css");
	.footer_nav_2 span,
	.footer-bottom span {
		margin-right: 20px;
		font-size: 1.166rem;
		color: #555555;
	}
</style>
