<template>
	<div>
		<header>
			<div class="topMenu">
				<ul class="menu01">
					<li>
						<span>
							<h2>
								<router-link to="/">
									<img
										src="../../assets/img/TROVE_LOGO.png"
										alt=""
										class="logo_img"
									/>
								</router-link>
							</h2>
						</span>
						<!-- <ul class="dept01"></ul> -->
					</li>

					<router-link
						:to="{ name: 'News1' }"
						tag="li"
						class="header-nav"
						style="cursor: pointer;"
						exact
					>
						<span>뉴스</span>
						<ul class="dept01" :style="{ display: view }">
							<li class="nop">공지사항</li>
							<li class="nop">업데이트</li>
							<li class="nop">이벤트</li>
						</ul>
					</router-link>
					<!-- 정보 Game guide -->
					<router-link
						:to="{ name: 'GameGuide' }"
						tag="li"
						class="header-nav"
						style="cursor: pointer;"
						><span>
							정보
						</span>
						<ul class="dept01" :style="{ display: view }">
							<li class="nop">게임정보</li>
							<li class="nop">모험</li>
							<li class="nop">탐험</li>
							<li class="nop">제작</li>
						</ul>
					</router-link>

					<!--Community  -->
					<router-link
						:to="{ name: 'Community' }"
						tag="li"
						class="header-nav"
						style="cursor: pointer;"
						><span>커뮤니티</span>
						<ul class="dept01" :style="{ display: view }">
							<li class="nop">자유게시판</li>
							<li class="nop">정보게시판</li>
							<li class="nop">이미지게시판</li>
						</ul></router-link
					>
					<!-- 캐시샵 Cash Shop-->
					<router-link
						:to="{ name: 'Cash_1' }"
						tag="li"
						class="header-nav"
						style="cursor: pointer;"
						><span>캐시샵</span>
						<ul class="dept01" :style="{ display: view }">
							<li class="nop">패키지</li>
							<li class="nop">프리미엄</li>
							<li class="nop">크레딧</li>
							<li class="nop">포인트샵</li>
						</ul></router-link
					>
					<!-- 다운로드 Download-->
					<router-link
						:to="{ name: 'Download' }"
						tag="li"
						class="header-nav"
						style="cursor: pointer;"
						><span>다운로드</span>
						<ul class="dept01" :style="{ display: view }">
							<li class="nop">클라이언트 다운</li>
						</ul></router-link
					>
					<!-- 고객지원 Support -->
					<router-link
						:to="{ name: 'Support' }"
						tag="li"
						class="header-nav"
						style="cursor: pointer;"
						><span>고객지원</span>
						<ul class="dept01" :style="{ display: view }">
							<li class="nop">1:1 문의</li>
							<li class="nop">FAQ</li>
						</ul></router-link
					>
					<router-link
						:to="{ name: 'Login' }"
						tag="li"
						class="header-nav"
						style="cursor: pointer;"
						><img src="../../assets/img/login_btn.png" class="login_btn"
					/></router-link>
					<li>
						<button class="more_btn" v-on:click="openNav()">
							<a href="#">
								<svg
									stroke="currentColor"
									fill="currentColor"
									stroke-width="0"
									viewBox="0 0 512 512"
									class="MainTitle_mobile-hamburger__1m_vf"
									height="1em"
									width="1em"
									xmlns="http://www.w3.org/2000/svg"
								>
									<path
										d="M32 96v64h448V96H32zm0 128v64h448v-64H32zm0 128v64h448v-64H32z"
									></path>
								</svg>
							</a>
						</button>
					</li>
					<div id="mysidenav" class="sidenav">
						<div class="sl_idid">
							<a href="#" class="closebtn" v-on:click="closeNav()">X</a>
							<div class="sidenav-welcome">
								<h5 class="sli_nick">Trove 님</h5>
								<h6 class="wel_text">환영합니다!</h6>
							</div>
							<div class="sidenav-action">
								<button class="hre_minfo">내정보</button>
								<button class="hre_logout">로그아웃</button>
								<h5 class="PcBang_text">PC방</h5>
								<h5 class="OFF">OFF</h5>
								<h5 class="ON">ON</h5>
							</div>
						</div>
						<div class="sidenav-cashinfo">
							<h5 class="My_cash">나의 캐시</h5>
							<hr class="herhr" />
							<div class="My_credit cash-area">
								<h5 class="t_t_t">보유 크레딧</h5>
								<div class="t_cash-amount">
									<h5 class="t_m_t">29,000</h5>
									<h6 :style="{ backgroundColor: '#0069c3' }" class="t_t">C</h6>
								</div>
							</div>
							<div class="My_Point cash-area">
								<h5 class="t_t_t">보유 포인트</h5>
								<div class="t_cash-amount">
									<h5 class="t_m_t">1,000</h5>
									<h6 :style="{ backgroundColor: '#f7cd19' }" class="t_t">P</h6>
								</div>
							</div>
						</div>
					</div>
				</ul>
			</div>
		</header>
		<transition name="slide">
			<div class="shade-background" v-show="shade"></div>
		</transition>
		<div class="slide-up" v-show="up"></div>
	</div>
</template>

<script>
	import $ from "jquery";

	export default {
		name: "TopMenu",
		data() {
			return {
				cssClass: ".dept01",
				deptShade: ".dept-shade",
				view: "none",
				shade: false,
				up: false,
			};
		},
		mounted() {
			
			const vm = this;
			$(document).on("mouseover", ".topMenu span", function () {
				vm.shade = true;
				vm.up = true;
				$(vm.cssClass).slideDown(300, () => {
					return (vm.view = "block");
				});
			});

			$(document).on("mouseover", ".slide-up", function () {
				vm.up = false;
				if (vm.view === "block") {
					vm.shade = false;

					$(vm.cssClass).slideUp(200, () => {
						return (vm.view = "none");
					});
				}
			});
			$(document).on("mouseover", ".sidenav", function () {
				vm.up = false;
				if (vm.view === "block") {
					vm.shade = false;

					$(vm.cssClass).slideUp(100, () => {
						return (vm.view = "none");
					});
				}
			});
		},

		methods: {
			openNav() {
				document.getElementById("mysidenav").style.width = "440px";
			},
			closeNav() {
				document.getElementById("mysidenav").style.width = "0";
			},
		},

		// Remove all jquery event listeners
		beforeDestroy() {
			$(document).off();
		},
	};
</script>

<style scoped>
	@import url("../../assets/style/style.css");
	@import url("../../assets/style/slide_bar_st.css");

	.shade-background {
		position: absolute;
		width: 100%;
		height: 360px;
		top: 80px;
		z-index: 998;
		background: rgba(51, 51, 51, 0.95);
	}

	.slide-up {
		position: absolute;
		width: 100%;
		height: 360px;
		top: 380px;
		z-index: 998;
	}

	.slide-enter-active {
		-moz-transition-duration: 0.3s;
		-webkit-transition-duration: 0.3s;
		-o-transition-duration: 0.3s;
		transition-duration: 0.3s;
		-moz-transition-timing-function: ease-in;
		-webkit-transition-timing-function: ease-in;
		-o-transition-timing-function: ease-in;
		transition-timing-function: ease-in;
	}

	.slide-leave-active {
		-moz-transition-duration: 0.3s;
		-webkit-transition-duration: 0.3s;
		-o-transition-duration: 0.3s;
		transition-duration: 0.3s;
		-moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
		-webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
		-o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
		transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
	}

	.slide-enter-to,
	.slide-leave {
		max-height: 360px;
		overflow: hidden;
	}

	.slide-enter,
	.slide-leave-to {
		overflow: hidden;
		max-height: 0;
	}
</style>
