<template>
	<div>
		<app-top-menu></app-top-menu>
		<app-info-content></app-info-content>
		<app-footer></app-footer>
	</div>
</template>

<script>
	// import TopMenu from "../components/layout/TopMenu";
  // import Footer from "../components/layout/Footer";
	import InfoContent from "../components/InfoContent";
  import {TopMenu, Footer} from "../components/layout"
	export default {
    components: {
      appTopMenu: TopMenu,
      appInfoContent: InfoContent,
      appFooter: Footer
    }
  };
</script>

<style>
</style>