<template>
	<div>
		<app-top-menu></app-top-menu>
		<section class="visual_sub">
			<img src="../../assets/img/info_banner.jpg" />
			<input type="button" class="start_btn" />
			<h2 class="page_title">정보</h2>
		</section>
		<section class="sub_nao">
			<div class="sub_nav">
				<!-- <a href="./game_info.html" class="g_info">게임정보</a>
				<a href="./mohum.html" class="g_info">모험</a>
				<a href="./tamhum.html" class="g_info_selec">탐험</a>
				<a href="./jejak.html" class="g_info">제작</a> -->
				<router-link to="/game_guide" tag="a" class="g_info"
					>게임정보</router-link
				>
				<router-link to="/game_guide/mohum" tag="a" class="g_info"
					>모험</router-link
				>
				<router-link to="/game_guide/tamhum" tag="a" class="g_info_selec"
					>탐험</router-link
				>
				<router-link to="/game_guide/jejak" tag="a" class="g_info"
					>제작</router-link
				>
			</div>
			<hr color="#cccccc" />
		</section>
		<h2 class="trove_intro">탐험</h2>
		<div class="tamhum-content">
			<section id="game_infoo_2">
				<div class="gamu_infom">
					<div class="aaa2">
						<img src="../../assets/img/tamhum_1.png" alt="" />
					</div>

					<div class="gamu-text">
						<h2 class="gamu_info"><br /><br />타이틀 텍스트 입니다.</h2>
						<h5 class="gamu_content">
							텍스트 텍스트텍스트 텍스트텍스트 텍스트텍스트 텍스트텍스트
							텍스트텍스트 텍스트텍스트 텍스트텍스트 텍스트텍스트 텍스트텍스트
							텍스트텍스트 텍스트텍스트 텍스트텍스트 텍스트텍스트 텍스트텍스트
							텍스트텍스트 텍스트텍스트 텍스트텍스트 텍스트텍스트 텍스트텍스트
							텍스트텍스트 텍스트텍스트 텍스트텍스트 텍스트텍스트 텍스트텍스트
							텍스트텍스트 텍스트텍스트 텍스트텍스트 텍스트텍스트 텍스트텍스트
							텍스트
						</h5>
					</div>
				</div>
			</section>
			<section id="tamhum_slider">
				<div id="item-swiper-container" class="swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div
								class="mySlide-area"
								style="background-image: url('../../img/main_banner.png');"
							></div>
						</div>
						<div class="swiper-slide">
							<div
								class="mySlide-area"
								style="background-image: url('../../img/banner_test_1.png');"
							></div>
						</div>
						<div class="swiper-slide">
							<div
								class="mySlide-area"
								style="background-image: url('../../img/info_banner.jpg');"
							></div>
						</div>
					</div>
					<div id="item-swiper-pagination" class="swiper-pagination"></div>
				</div>
			</section>
		</div>
		<app-footer></app-footer>
	</div>
</template>

<script>
	import { TopMenu, Footer } from "../../components/layout";
	export default {
		components: {
			appTopMenu: TopMenu,
			appFooter: Footer,
		},
	};
</script>

<style scoped>
	@import url("../../assets/style/style.css");
	@import url("../../assets/style/info_style.css");
	@import url("../../assets/style/adven_style.css");
	@import url("../../assets/style/slide_bar_st.css");
</style>