<template>
	<div>
		<app-top-menu></app-top-menu>
		<section class="visual_sub">
			<img src="../../assets/img/info_banner.jpg" />
			<input type="button" class="start_btn" />
			<h2 class="page_title">정보</h2>
		</section>
		<section class="sub_nao">
			<div class="sub_nav">
				<!-- <a href="./game_info.html" class="g_info_selec">게임정보</a>
				<a href="./mohum.html" class="g_info">모험</a>
				<a href="./tamhum.html" class="g_info">탐험</a>
				<a href="./jejak.html" class="g_info">제작</a> -->
				<router-link to="/game_guide" tag="a" class="g_info_selec"
					>게임정보</router-link
				>
				<router-link to="/game_guide/mohum" tag="a" class="g_info"
					>모험</router-link
				>
				<router-link to="/game_guide/tamhum" tag="a" class="g_info"
					>탐험</router-link
				>
				<router-link to="/game_guide/jejak" tag="a" class="g_info"
					>제작</router-link
				>
			</div>
			<hr color="#cccccc" />
		</section>
		<h2 class="trove_intro">게임정보</h2>

		<div class="tabmenu menu_num-two">
			<ul>
				<li id="tab1" class="btnCon">
					<input type="radio" checked name="tabmenu" id="tabmenu1" />
					<label for="tabmenu1">트로브</label>
					<div class="tabCon">
						<section id="game_infoo">
							<div class="gamu_infom">
								<div class="aaa2">
									<img src="../../assets/img/great.png" alt="" />
								</div>

								<div class="gamu-text">
									<h2 class="gamu_info">타이틀 텍스트 입니다.</h2>
									<h5 class="gamu_content">
										텍스트텍스트텍스트텍스트텍스트텍스트텍스트
										텍스트텍스트텍스트텍스트텍스트텍스트
										텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스
										텍스트텍스트텍스트텍스트텍스트텍스트
									</h5>
								</div>
							</div>
						</section>
						<section id="game_infoo_2">
							<div class="gamu_infom">
								<div class="gamu-text">
									<h2 class="gamu_info">타이틀 텍스트 입니다.</h2>
									<h5 class="gamu_content">
										텍스트텍스트텍스트텍스트텍스트텍스트텍스트
										텍스트텍스트텍스트텍스트텍스트텍스트
										텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스
										텍스트텍스트텍스트텍스트텍스트텍스트
									</h5>
								</div>
								<div class="aaa3">
									<img src="../../assets/img/great_2.png" alt="" />
								</div>
							</div>
						</section>
					</div>
				</li>
			</ul>
			<ul>
				<li id="tab2" class="btnCon">
					<input type="radio" name="tabmenu" id="tabmenu2" />
					<label for="tabmenu2">둘러보기</label>
					<div class="tabCon">
						<section id="game_infoo">
							<div class="gamu_infom">
								<div class="aaa2">
									<img src="../../assets/img/around_img.png" alt="" />
								</div>

								<div class="gamu-text">
									<h2 class="gamu_info">타이틀 텍스트 입니다.</h2>
									<h5 class="gamu_content">
										텍스트텍스트텍스트텍스트텍스트텍스트텍스트
										텍스트텍스트텍스트텍스트텍스트텍스트
										텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스
										텍스트텍스트텍스트텍스트텍스트텍스트
									</h5>
								</div>
							</div>
						</section>
						<section id="game_infoo_2">
							<div class="gamu_infom">
								<div class="gamu-text">
									<h2 class="gamu_info">타이틀 텍스트 입니다.</h2>
									<h5 class="gamu_content">
										텍스트텍스트텍스트텍스트텍스트텍스트텍스트
										텍스트텍스트텍스트텍스트텍스트텍스트
										텍스트텍스트텍스트텍스트텍스트텍스트텍스트텍스
										텍스트텍스트텍스트텍스트텍스트텍스트
									</h5>
								</div>
								<div class="aaa3">
									<img src="../../assets/img/around_img_2.png" alt="" />
								</div>
							</div>
						</section>
					</div>
				</li>
			</ul>
		</div>
		<app-footer></app-footer>
	</div>
</template>

<script>
	import { TopMenu, Footer } from "../../components/layout";

	export default {
		components: {
			appTopMenu: TopMenu,
			appFooter: Footer,
		},
	};
</script>

<style scoped>
@import url("../../assets/style/style.css");
@import url("../../assets/style/info_style.css");
@import url("../../assets/style/tab_style.css");
@import url("../../assets/style/slide_bar_st.css");
</style>