<template>
	<div>
  <!-- <div class="swiper-container"> -->
		<div id="mainBanner-swiper-container" class="swiper-container">

    <div class="swiper-wrapper">
      <div class="swiper-slide"><img :src="MainBanner" class="mySlide-area"></div>
      <div class="swiper-slide"><img :src="BannerTest1" class="mySlide-area"></div>
      <div class="swiper-slide"><img :src="InfoBanner" class="mySlide-area"></div>
    </div>
     <!-- Add Arrows -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
  </div>

		<div class="wrap_letteainBannert">
			<section class="info-content">
				<h2 class="sosic_intro">트로브 소식</h2>
				<section class="sosick">
					<div class="sosick_div">
						<div class="aaa">
							<img src="../assets/img/event_440ban.png" alt="" />
						</div>
						<div class="news">
							<article class="artic">
								<li class="cont_text">
									<img src="../assets/img/news_2.png" class="news_icon" />
									<h5 class="itstitle_fir">20.6월 정기점검 공지</h5>
									<br />20년 6월 20일 정기점검 있습니다.....
								</li>
								<hr class="woowha" />
								<li class="cont_text">
									<h5 class="itstitle">
										<img
											src="../assets/img/news_1.png"
											class="news_icon"
										/>20.6월 정기점검 공지
									</h5>
									20년 6월 20일 정기점검 있습니다.....
								</li>
								<hr class="woowha" />
								<li class="cont_text">
									<h5 class="itstitle">
										<img
											src="../assets/img/news_1.png"
											class="news_icon"
										/>20.6월 정기점검 공지
									</h5>
									20년 6월 20일 정기점검 있습니다.....
								</li>
							</article>
						</div>
					</div>
				</section>

				<h2 class="sosic_intro">캐시샵</h2>
				<section class="cash">
					<div class="topic">
						<div id="main-swiper-container" class="swiper-container">

							<div class="swiper-wrapper">
								<div class="swiper-slide"><img :src="MainBanner" class="mySlide-area"></div>
								<div class="swiper-slide"><img :src="BannerTest1" class="mySlide-area"></div>
								<div class="swiper-slide"><img :src="InfoBanner" class="mySlide-area"></div>
							</div>
						<!-- Add Arrows -->
						<!-- <div class="swiper-button-next"></div>
						<div class="swiper-button-prev"></div> -->
						<!-- Add Pagination -->
							<div class="swiper-pagination"></div>
						</div>
						
					</div>
				</section>
						<section class="commu">
							<h2 class="com_intro">커뮤니티</h2>
							<div class="commu-area">
								<div class="com-banner-area">
									<img :src="BannerArea" alt="" />
								</div>
								<div class="com-box-area">
									<div class="com_box">
										<h4 class="bd_tag">[자유게시판]</h4>
										<h2 class="comuu_title">트로브 완전 좋은 팁 알려준다.</h2>
										<hr class="com_line" />
										<h5 class="cont_com">
											트로브 완전 좋은 팁 알려준다. 트로브 <br />
											완전 좋은 팁 알려준다. 트로브 완전 좋<br />
											은 팁 알려준다. 트로브 완전 좋은 팁 알<br />
											려준다.트로브 완전 좋은 팁 알려준다.<br />
										</h5>
										<h4 class="nickname">트로브</h4>
										<h4 class="made_day">2020.00.00</h4>
									</div>
									<div class="com_box">
										<h4 class="bd_tag">[자유게시판]</h4>
										<h2 class="comuu_title">트로브 완전 좋은 팁 알려준다.</h2>
										<hr class="com_line" />
										<h5 class="cont_com">
											트로브 완전 좋은 팁 알려준다. 트로브 <br />
											완전 좋은 팁 알려준다. 트로브 완전 좋<br />
											은 팁 알려준다. 트로브 완전 좋은 팁 알<br />
											려준다.트로브 완전 좋은 팁 알려준다.<br />
										</h5>
										<h4 class="nickname">트로브</h4>
										<h4 class="made_day">2020.00.00</h4>
									</div>
									<div class="com_box">
										<h4 class="bd_tag">[자유게시판]</h4>
										<h2 class="comuu_title">트로브 완전 좋은 팁 알려준다.</h2>
										<hr class="com_line" />
										<h5 class="cont_com">
											트로브 완전 좋은 팁 알려준다. 트로브 <br />
											완전 좋은 팁 알려준다. 트로브 완전 좋<br />
											은 팁 알려준다. 트로브 완전 좋은 팁 알<br />
											려준다.트로브 완전 좋은 팁 알려준다.<br />
										</h5>
										<h4 class="nickname">트로브</h4>
										<h4 class="made_day">2020.00.00</h4>
									</div>
									<div class="com_box">
										<h4 class="bd_tag">[자유게시판]</h4>
										<h2 class="comuu_title">트로브 완전 좋은 팁 알려준다.</h2>
										<hr class="com_line" />
										<h5 class="cont_com">
											트로브 완전 좋은 팁 알려준다. 트로브 <br />
											완전 좋은 팁 알려준다. 트로브 완전 좋<br />
											은 팁 알려준다. 트로브 완전 좋은 팁 알<br />
											려준다.트로브 완전 좋은 팁 알려준다.<br />
										</h5>
										<h4 class="nickname">트로브</h4>
										<h4 class="made_day">2020.00.00</h4>
									</div>
								</div>
							</div>
						</section>

						<h2 class="title_3">게임 정보</h2>
						<section class="content">
							<div class="item">
								<div class="img">
									<img src="@/assets/img/trove_info.png" />
								</div>
								<div class="info">
									<h4 class="new-font">트로브 세계관</h4>
									<p class="n-font">
										uptatem accusantium accusantium doloremque laudanti…
									</p>
								</div>
							</div>

							<div class="item">
								<div class="img">
									<img src="@/assets/img/trove_world_2.png" />
								</div>
								<div class="info_2">
									<h4 class="new-font">트로브 세계관</h4>
									<p class="n-font">
										uptatem accusantium accusantium doloremque laudanti…
									</p>
								</div>
							</div>
							<div class="item">
								<div class="img">
									<img src="@/assets/img/trove_world.png" />
								</div>
								<div class="info_3">
									<h4 class="new-font">트로브 세계관</h4>
									<p class="n-font">
										uptatem accusantium accusantium doloremque laudanti…
									</p>
								</div>
							</div>
						</section>
					</section>
				</section>
			</section>
		</div>
	</div>
</template>

<script>
	import MainBanner from "@/assets/img/adjustedImages/main_banner.png";
	import BannerTest1 from "@/assets/img/adjustedImages/banner_test_1.png";
	import InfoBanner from "@/assets/img/info_banner.jpg";
	import BannerArea from "@/assets/img/commu_bg.png";

	export default {
		name: "InfoContent",
		data() {
			return {
				MainBanner,
				BannerTest1,
				InfoBanner,
				BannerArea,
				mySwiper: null,
				swiperOptions: null,
			};
		},
		created() {
			this.swiperOptions = {
				cssMode: true,
				autoplay: {
					delay: 5000,
				},
				navigation: {
					nextEl: ".swiper-button-next",
					prevEl: ".swiper-button-prev",
				},
				pagination: {
					el: ".swiper-pagination",
				},
				mousewheel: {
					releaseOnEdges: true,
				},
				keyboardControl: true,
				loop: true,
				grabCursor: true,
			};
		},
		mounted() {
			const vm = this;
			// Wait until mouting finishes
			this.$nextTick(() => {
				const { swiper } = require("swiper").default;
				console.log("mounted");
				vm.mySwiper = new Swiper(".swiper-container", vm.swiperOptions);
			});
		},
	};
</script>

<style scoped>
	@import url("../assets/style/style.css");
	@import url("../assets/style/slide_bar_st.css");
</style>
