<template>
	<div id="app">
		<router-view />
	</div>
</template>

<script>
	import InfoContent from "../src/components/InfoContent";
	import { TopMenu, Footer } from "../src/components/layout/index";

	export default {
		components: {
			appTopMenu: TopMenu,
			appInfoContent: InfoContent,
			appFooter: Footer,
		},
	};
</script>

<style>
	#app {
		font-family: Avenir, Helvetica, Arial, sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		/* text-align: center; */
		color: #2c3e50;
	}

	#nav {
		padding: 30px;
	}

	#nav a {
		font-weight: bold;
		color: #2c3e50;
	}

	#nav a.router-link-exact-active {
		color: #42b983;
	}
</style>
