<template>
	<div>
		<app-top-menu></app-top-menu>
		<section
			class="visual_sub"
			style="background-image: url('../../img/goeck.jpg');"
		>
			<img :src="ImgContact" alt="" />
			<input type="button" class="start_btn" />
			<h2 class="page_title">무엇을 도와드릴까요?</h2>
		</section>
		<section class="sub_nao">
			<div class="sub_nav">
				<!-- <a href="./1_1mun.html" class="g_board">1:1 문의하기 </a>
				<a href="./1_2mun.html" class="g_board">나의 문의내역</a>
				<a href="./1_3mun.html" class="g_board_selec">FAQ</a> -->
				<router-link to="/support" tag="a" class="g_board"
					>1:1 문의하기</router-link
				>
				<router-link to="/support/page2" tag="a" class="g_board"
					>나의 문의내역</router-link
				>
				<router-link to="/support/page3" tag="a" class="g_board_selec"
					>FAQ</router-link
				>
			</div>
			<hr color="#cccccc" />
		</section>
		<div class="faq_content">
			<h2 class="FAQ_title">FAQ</h2>
			<div class="article_search">
				<input
					type="text"
					class="article_search_field"
					name="search"
					value=""
				/>
				<input type="submit" class="article_search_submit" value="검색" />
			</div>
			<div class="btn_div">
				<button class="fq_btn">아이디정보/보안</button>
				<button class="fq_btn">결제</button>
				<button class="fq_btn">게임문의</button>
				<button class="fq_btn">이벤트</button>
				<button class="fq_btn">복구</button>
				<button class="fq_btn">설치/실행</button>
				<button class="fq_btn">기타문의</button>
			</div>
			<div class="row">
				<div class="col-sm-9">
					<div class="right_area page_cs_notice">
						<!-- 컨텐츠 영역 -->

						<!-- //CS Center 탭버튼 -->
						<div class="right_contents">
							<table class="table_basic">
								<colgroup>
									<col width="10%" />
									<col width="70%" />
									<col width="10%" />
									<col width="10%" />
								</colgroup>
								<thead>
									<tr>
										<th scope="col">번호</th>
										<th scope="col">제목</th>
										<th scope="col">날짜</th>
										<th scope="col">상태</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>1</td>
										<td class="tit_contents_td">
											<a href="">트로브 이용중에 발생한 문제 문의 드립니다.</a>
										</td>
										<td>2020.07.10</td>
										<td>처리중</td>
									</tr>
									<tr>
										<td>2</td>
										<td class="tit_contents_td">
											<a href="">트로브 이용중에 발생한 문제 문의 드립니다.</a>
										</td>
										<td>2020.07.10</td>
										<td>처리중</td>
									</tr>
									<tr>
										<td>3</td>
										<td class="tit_contents_td">
											<a href="">트로브 이용중에 발생한 문제 문의 드립니다.</a>
										</td>
										<td>2020.07.10</td>
										<td>처리중</td>
									</tr>
								</tbody>
							</table>
							<div class="boxed-list-wrapper">
								<!-- 하단 페이징 -->
								<div class="pagination-box box">
									<div class="pagination">
										<div class="wrapper">
											<a
												href="${pageContext.request.contextPath}/CScenter/CScenterNotice?page=1"
												class="fa fa-angle-double-left paging-btn btn first"
											></a>

											<a
												href="${pageContext.request.contextPath}/CScenter/CScenterNotice?page=${page-1}"
												class="fa fa-angle-left paging-btn btn prev"
											></a>

											<a
												href="${pageContext.request.contextPath}/CScenter/CScenterNotice?page=${i}"
												class="paging-btn btn active"
												>1</a
											>

											<a
												href="${pageContext.request.contextPath}/CScenter/CScenterNotice?page=${page+1}"
												class="fa fa-angle-right paging-btn btn next"
											></a>

											<a
												href="${pageContext.request.contextPath}/CScenter/CScenterNotice?page=${tempEndPage}"
												class="fa fa-angle-double-right paging-btn btn last"
											></a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--// 컨텐츠 영역 -->
					</div>
				</div>
			</div>
		</div>
		<app-footer></app-footer>
	</div>
</template>

<script>
	import { TopMenu, Footer } from "@/components/layout";
	import ImgContact from "@/assets/img/contact_main.jpg";
	export default {
		components: {
			appTopMenu: TopMenu,
			appFooter: Footer,
		},
		data() {
			return {
				ImgContact,
			};
		},
	};
</script>

<style scoped>
	@import url("../../assets/style/style.css");
	@import url("../../assets/style/info_style.css");
	@import url("../../assets/style/board_style.css");
	@import url("../../assets/style/search_style.css");
	@import url("../../assets/style/ques.css");
	@import url("../../assets/style/FAQ_st.css");
	@import url("../../assets/style/slide_bar_st.css");
</style>