<template>
	<div>
		<app-top-menu></app-top-menu>
		<section
			class="visual_sub"
			style="background-image: url('../../img/contact_main.jpg');"
		>
			<img :src="ImgContact" alt="" />
			<input type="button" class="start_btn" />
			<h2 class="page_title">무엇을 도와드릴까요?</h2>
		</section>
		<section class="sub_nao">
			<div class="sub_nav">
				<!-- <a href="./1_1mun.html" class="g_board_selec">1:1 문의하기 </a>
				<a href="./1_2mun.html" class="g_board">나의 문의내역</a>
				<a href="./1_3mun.html" class="g_board">FAQ</a> -->
				<router-link to="/support" tag="a" class="g_board_selec">1:1 문의하기</router-link>
				<router-link to="/support/page2" tag="a" class="g_board">나의 문의내역</router-link>
				<router-link to="/support/page3" tag="a" class="g_board">FAQ</router-link>
			</div>
			<hr color="#cccccc" />
		</section>
		<h2 class="trove_intro">1:1문의 하기</h2>
		<div class="m_body">
			<div class="m_content">
				<div>
					<div class="m_category">
						<h5 class="cate_title">카테고리</h5>
						<select
							name="cate_1"
							class="cate_1"
							vlaue="문의하시는 유형을 선택해주세요"
						>
							<option value="초기값" selected
								>문의하시는 유형을 선택해주세요</option
							>
							<option value="개인정보">개인정보</option>
							<option value="계정">계정</option>
							<option value="결제">결제</option>
							<option value="결제">결제</option>
						</select>
						<select
							name="cate_2"
							class="cate_2"
							vlaue="문의하시는 유형을 선택해주세요"
						>
							<option value="초기값" selected
								>문의하시는 유형을 선택해주세요</option
							>
							<option value="개인정보">개인정보</option>
							<option value="계정">계정</option>
							<option value="결제">결제</option>
							<option value="결제">결제</option>
						</select>
					</div>
					<div class="m_title">
						<h5 class="cate_title">제목</h5>
						<input type="text" name="title" class="ques_title" />
					</div>
				</div>
				<div class="m_context">
					<h5 class="cate_title">내용</h5>
					<input type="text" name="contents" class="ques_cont" />
				</div>
				<div class="filebox bs3-primary">
					<h5 class="cate_title">파일첨부</h5>
					<input
						class="upload-name"
						value="파일은 최대 3개까지 선택 가능합니다."
						disabled="disabled"
					/>

					<label for="ex_filename">찾아보기</label>
					<input type="file" id="ex_filename" class="upload-hidden" />
				</div>
				<input type="submit" class="quest_accept" value="문의접수" />
			</div>
		</div>
		<app-footer></app-footer>
	</div>
</template>

<script>
	import { TopMenu, Footer } from "@/components/layout";
	import ImgContact from "@/assets/img/contact_main.jpg";
	export default {
		components: {
			appTopMenu: TopMenu,
			appFooter: Footer,
		},
		data() {
			return {
				ImgContact,
			};
		},
	};
</script>

<style scoped>
	@import url("../../assets/style/style.css");
	@import url("../../assets/style/info_style.css");
	@import url("../../assets/style/board_style.css");
	@import url("../../assets/style/search_style.css");
	@import url("../../assets/style/ques.css");
	@import url("../../assets/style/slide_bar_st.css");
</style>