<template>
	<div>
		<app-top-menu></app-top-menu>
		<h2 class="yack_title">이용약관</h2>
		<hr class="Y_sly" />
		<div class="eyong">
			<h1>
				<h2 class="jo_text">제1조 (목적)</h2>

				<h2 class="hang_text">
					<br />이 약관은 트로브 (이하 “회사”)가 제공하는 서비스 및 관련 제반
					서비스(이하 “서비스”)의 이용과 관련하여 회사와 회원과의 권리, 의무 및
					책임사항, 기타 필요한 사항을 규정함을 목적으로 합니다.
				</h2>
				<br /><br />

				<h2 class="jo_text">제2조 (정의)</h2>

				<h2 class="hang_text">
					<br />이 약관에서 사용하는 용어는 아래와 같습니다.<br />

					“회원”이라 함은 회사의 “서비스”에 접속하여 이 약관에 따라 “회사”와
					이용계약을 체결하고 “회사”가 제공하는 “서비스”를 이용하는 고객을
					말합니다.<br />
					“아이디(ID)”라 함은 “회원”의 식별과 서비스 이용을 위하여 “회원”이
					정하고 “회사”가 승인하는 문자와 숫자의 조합을 의미합니다.<br />
					“비밀번호”라 함은 “회원”이 부여 받은 “아이디와 일치되는 “회원”임을
					확인하고 비밀보호를 위해 “회원” 자신이 정한 문자 또는 숫자의 조합을
					의미합니다.<br />
					“유료서비스”라 함은 “서비스” 중 “회사”가 유료로 제공하는 각종 웹사이트
					구축 서비스 및 제반 서비스를 의미합니다.<br />
					“게시물” 혹은 “콘텐츠”이라 함은 회원이 서비스를 이용함에 있어
					서비스상에 게시한 부호ᆞ문자ᆞ음성ᆞ음향ᆞ화상ᆞ동영상 등의 정보 형태의 글,
					사진, 동영상 및 각종 파일과 링크 등을 의미합니다.
				</h2>
				<br /><br />

				<h2 class="jo_text">제3조 (목적)</h2>

				<h2 class="hang_text">
					<br />이 약관은 트로브 (이하 “회사”)가 제공하는 서비스 및 관련 제반
					서비스(이하 “서비스”)의 이용과 관련하여 회사와 회원과의 권리, 의무 및
					책임사항, 기타 필요한 사항을 규정함을 목적으로 합니다.
				</h2>
				<br /><br />

				<h2 class="jo_text">제4조 (정의)</h2>
				<br />

				<h2 class="hang_text">
					이 약관에서 사용하는 용어는 아래와 같습니다. “회원”이라 함은 회사의
					“서비스”에 접속하여 이 약관에 따라 “회사”와 이용계약을 체결하고
					“회사”가 제공하는 “서비스”를 이용하는 고객을 말합니다.<br />
					“아이디(ID)”라 함은 “회원”의 식별과 서비스 이용을 위하여 “회원”이
					정하고 “회사”가 승인하는 문자와 숫자의 조합을 의미합니다.<br />
					“비밀번호”라 함은 “회원”이 부여 받은 “아이디와 일치되는 “회원”임을
					확인하고 비밀보호를 위해 “회원” 자신이 정한 문자 또는 숫자의 조합을
					의미합니다.<br />
					“유료서비스”라 함은 “서비스” 중 “회사”가 유료로 제공하는 각종 웹사이트
					구축 서비스 및 제반 서비스를 의미합니다.<br />
					“게시물” 혹은 “콘텐츠”이라 함은 회원이 서비스를 이용함에 있어
					서비스상에 게시한 부호ᆞ문자ᆞ음성ᆞ음향ᆞ화상ᆞ동영상 등의 정보 형태의 글,
					사진, 동영상 및 각종 파일과 링크 등을 의미합니다.
				</h2>
			</h1>
		</div>
		<app-footer></app-footer>
	</div>
</template>

<script>
	import { TopMenu, Footer } from "../../components/layout";
	export default {
		components: {
			appTopMenu: TopMenu,
			appFooter: Footer,
		},
	};
</script>

<style scoped>
	@import url("../../assets/style/style.css");
	@import url("../../assets/style/joins.css");
	@import url("../../assets/style/yack.css");
	@import url("../../assets/style/info_style.css");
	@import url("../../assets/style/slide_bar_st.css");
</style>